package ${controllerPackage};

import ${servicePackage}.${className}Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;

import java.util.List;
import java.util.Map;

/**
 * ${className} Controller
 * <p>
 * Tip: ${comments}
 * @author ${author}
 * @date ${datetime}
 */
@RestController
@RequestMapping("${pathName}" )
public class ${className}Controller {

    @Autowired
    private ${className}Service ${classname}Service;

}
