package ${entityPackage}.entity;

import cn.micro.biz.commons.mybatis.entity.MicroEntity;
import com.baomidou.mybatisplus.annotation.TableName;
import lombok.*;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
#if(${hasDate})
import java.util.Date;
#end

/**
 * ${className} Entity
 * <p>
 * Tip: ${comments}
 * @author ${author}
 * @date ${datetime}
 */
@Data
@NoArgsConstructor
@AllArgsConstructor
@ToString(callSuper = true)
@EqualsAndHashCode(callSuper = true)
@TableName("${tableName}")
public class ${className} extends MicroEntity<${className}> {

    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if($column.columnName != "id"&&
    $column.columnName != "created"&&
    $column.columnName != "creator"&&
    $column.columnName != "edited"&&
    $column.columnName != "editor"&&
    $column.columnName != "deleted"&&
    $column.columnName != "tenant_id")
    /**
     * $column.comments
     */
    private $column.javaType $column.attrname;
#end
#end

}
