package ${package}.service.impl;

import cn.micro.biz.commons.mybatis.extension.MicroServiceImpl;
import ${package}.entity.${className};
import ${package}.mapper.${className}Mapper;
import ${package}.service.${className}Service;
import org.springframework.stereotype.Service;

/**
 * ${comments} Service Implements
 *
 * @author ${author}
 * @date ${datetime}
 */
@Service
public class ${className}ServiceImpl extends MicroServiceImpl<${className}Mapper, ${className}> implements ${className}Service {

}
