package ${servicePackage};

import cn.micro.biz.commons.mybatis.extension.IMicroService;
import ${entityPackage}.${className};

/**
 * ${className} Service Interface
 * <p>
 * Tip: ${comments}
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service extends IMicroService<${className}> {

}
