package ${package}.service;

import cn.micro.biz.commons.mybatis.extension.IMicroService;
import ${package}.entity.${className};

/**
 * ${className} Service Interface
 * <p>
 * Tip: ${comments}
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service extends IMicroService<${className}> {

}
