package ${serviceImplPackage};

import cn.micro.biz.commons.mybatis.extension.MicroServiceImpl;
import ${entityPackage}.${className};
import ${mapperPackage}.${className}Mapper;
import ${servicePackage}.${className}Service;
import org.springframework.stereotype.Service;

/**
 * ${className} Service Implements
 * <p>
 * Tip: ${comments}
 * @author ${author}
 * @date ${datetime}
 */
@Service
public class ${className}ServiceImpl extends MicroServiceImpl<${className}Mapper, ${className}> implements ${className}Service {

}
